html, body {
    height: 100%;
}

.main-container {
    min-height: calc(100vh - 150px); /* spazio per il footer */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer {
    margin-top: auto;
}
